	body
	{
		width: 90%;
		margin: auto;
		padding-bottom: 50px;
	}
	#title{
		width: 90%;
		margin: 0 auto;
		background: url(CCO-Logo.png) no-repeat center center; 
		background-size: contain;
		height: 50px;
		font-size: 0;
	}
	#stores{
		width: 100%;
		height: 50%;
		padding-top: 25px;
		padding-bottom: 25px;
		text-align: left;
		margin: 0 auto;
		display: inline-block;
		
	}
	#core1, #carbon{
		width: 45%;
		font-family: Gibson;
		line-height: 20px;
		display: inline-block;
		min-width: 300px;
		}
	
	#core1 .storeimage{
		background: url(Core1.png) no-repeat center bottom;
		background-size: contain;
		height: 100px;
		margin-bottom: 50px;
	}
	#carbon .storeimage{
		background: url(Carbon.png) no-repeat center bottom;
		background-size: contain
		
	}
	#carbon{
		left: 50px;
		position: relative;
	}
	#core1{
		left: 50px;
		position: relative;
	}
	#stores a{
		text-decoration: none;
		color: #e8291c;
	}
	@font-face {
		font-family: Gibson;
		src: url(/font/Gibson-Regular.otf);
	}
	address{
		font-style: normal;	
	} 
	.storeimage{
		width: 80%;
		height: 120px;
		margin-bottom: 30px;
		font-size: 0;
		margin-top: 50px;
	}
	.mapouter{
		margin-top: 10px;
		height: 400px;
		
	}
	.gmap_canvas{
		width: 100%;
		height: 100%;
	}